<section>
  <div class="container mx-auto h-full px-6 py-6">
    <div
      class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between"
    >
      <!-- Left column container with background-->
      <div class="mb-12 md:mb-0 md:w-8/12 lg:w-6/12">
        <img
          src="../../../assets/reset_password.svg"
          class="w-full"
          alt="Reset Password Image"
        />
      </div>

      <!-- Right column container with form -->
      <div class="md:w-8/12 lg:ml-6 lg:w-5/12">
        <form (submit)="onSubmit()" class="space-y-4">
          <h3 class="text-xl font-bold">Forgot your password?</h3>
          <div class="space-y-10">
            <!-- Username input -->
            <mat-form-field class="w-full mb-6">
              <mat-label>Your email</mat-label>
              <input
                type="email"
                matInput
                maxlength="200"
                placeholder="Email"
                [formControl]="emailControl"
                class="w-full"
              />

              @if (emailControl.hasError('email') &&
              !emailControl.hasError('required')) {
              <mat-error>Please enter a valid email address</mat-error>
              } @if (emailControl.hasError('required')) {
              <mat-error>Email is <strong>required</strong></mat-error>
              }
            </mat-form-field>

            <re-captcha
              (resolved)="resolved($event)"
              siteKey="6Lf5XmspAAAAAFVWGcg5xzVg7Y-cgMNeKnfWQ4hr"
            ></re-captcha>
          </div>

          <!-- Submit button -->
          <button
            [disabled]="emailControl.invalid"
            class="w-full"
            mat-raised-button
            color="primary"
          >
            Reset Password
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
